{%- if SITE.enable_google_analytics -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ SITE.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ window.dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ SITE.google_analytics }}');
  </script>
{%- endif -%}
{%- if SITE.enable_cronitor_analytics -%}
  <!-- Cronitor RUM -->
  <script async src="https://rum.cronitor.io/script.js"></script>
  <script>
    window.cronitor = window.cronitor || function() { (window.cronitor.q = window.cronitor.q || []).push(arguments); };
    cronitor('config', { clientKey: '{{SITE.cronitor_analytics}}' });
  </script>
{%- endif -%}
{%- if SITE.enable_statcounter_analytics -%}
  <!-- Statcounter Analytics -->
  <script type="text/javascript">
    var sc_project = {{ SITE.statcounter_project }};
    var sc_invisible = 1;
    var sc_security = "{{ SITE.statcounter_security }}";
    var sc_text = 2;
    var scJsHost = "https://";
    document.write("<sc"+"ript type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></"+"script>");
  </script>
  <noscript>
    <div class="statcounter">
      <a title="Web Analytics" href="https://statcounter.com/" target="_blank">
        <img class="statcounter" src="https://c.statcounter.com/{{ SITE.statcounter_project }}/0/{{ SITE.statcounter_security }}/1/" alt="Web Analytics" referrerPolicy="no-referrer-when-downgrade">
      </a>
    </div>
  </noscript>
{%- endif -%}
